{% extends "template.php.twig" %}

{% block content %}

    {{ include('components/header.html.twig') }}

<div class="content">
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header display-4 text-center">Registracija</div>

                    <div class="card-body">
                        <form method="POST" action="{{ route('register') }}">
                            {{ csrf() }}

                            <div class="form-group row">
                                <label for="firstname" class="col-md-4 col-form-label text-md-right">Vardas</label>

                                <div class="col-md-6">
                                    <input id="firstname" type="text" class="form-control {{ error('firstname') ? ' is-invalid' }}" name="firstname" value="{{ old('firstname') }}" required autocomplete="firstname" autofocus>

                                    {% if error('firstname') %}
                                    <span class="invalid-feedback" role="alert">
                                        <strong>{{ error('firstname') }}</strong>
                                    </span>
                                    {% endif %}
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="lastname" class="col-md-4 col-form-label text-md-right">Pavardė</label>

                                <div class="col-md-6">
                                    <input id="lastname" type="text" class="form-control {{ error('lastname') ? ' is-invalid' }}" name="lastname" value="{{ old('lastname') }}" required autocomplete="lastname" autofocus>

                                    {% if error('lastname') %}
                                    <span class="invalid-feedback" role="alert">
                                        <strong>{{ error('lastname') }}</strong>
                                    </span>
                                    {% endif %}
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="email" class="col-md-4 col-form-label text-md-right">Jūsų elektroninis paštas</label>

                                <div class="col-md-6">
                                    <input id="email" type="email" class="form-control {{ error('email') ? ' is-invalid' }}" name="email" value="{{ old('email') }}" required autocomplete="email">

                                    {% if error('email') %}
                                    <span class="invalid-feedback" role="alert">
                                        <strong>{{ error('email') }}</strong>
                                    </span>
                                    {% endif %}
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="password" class="col-md-4 col-form-label text-md-right">Jūsų slaptažodis</label>

                                <div class="col-md-6">
                                    <input id="password" type="password" class="form-control {{ error('password') ? ' is-invalid' }}" name="password" required autocomplete="new-password">

                                    {% if error('password') %}
                                    <span class="invalid-feedback" role="alert">
                                        <strong>{{ error('password') }}</strong>
                                    </span>
                                    {% endif %}
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="password-confirm" class="col-md-4 col-form-label text-md-right">Patvirtinkite slaptažodį</label>

                                <div class="col-md-6">
                                    <input id="password-confirm" type="password" class="form-control" name="password_confirmation" required autocomplete="new-password">
                                </div>
                            </div>

                            <div class="form-group row mb-0">
                                <div class="col-md-6 offset-md-4">
                                    <button type="submit" class="btn btn-primary">
                                        Registruotis
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    {{ include('components/footer.html.twig') }}

{% endblock %}
